%h2 keyの一覧と作成

%h3="#{@bucket}のkeyの一覧"
- if @keys.empty?
  %p keyがありません
- else
  %table
    %tr
      %th Image
      %th File
      %th Size
    - for key in @keys
      %tr
        %th
          -if key.content_type =~ %r!image/!
            %img{:src => "http://#{@thumbs_dist[:domain_name]}/#{@thumbs[key.name].name}"}
          -else
            N/A
        %th
          %a{:href => "http://#{@dist[:domain_name]}/#{key.name}"}=key
        %th="#{number_format(key.size)} byte"

%h3 keyの作成
- if !@errors.nil? && @errors.any?
  %ul
  - for error in @errors
    %li=error
    
%form{:action => "/bucket/#{@bucket}/keys", :method => 'post', :enctype => 'multipart/form-data'}
  %fieldset
    %label{:for => 'object'} ファイル
    %input#bucket{:name => 'object', :type => 'file'}
  .buttons
    %input{:type => 'submit', :value => 'アップロード'}
